/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* @font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/HelveticaNeueRoman.otf') format('opentype');
} */
.Slider{
    width: 100%;
}
body {
  font-family: "Bebas Neue", sans-serif;
  }

.AboutImg{
    background: url('./assets/image1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
        height: 500px;
            /* height: 20px; */
    width: auto;

}
.aboutDivCover{
    background: url("./assets//blob.svg");
    background-repeat: no-repeat;
    background-size: 850px 850px;    
    background-position: center;

}

@media only screen and (max-width: 767px) {
    .aboutDivCover{
        background-size: 500px 500px;
    }
}